{% load sitetree %}

{% for item in sitetree_items %}
    {% if not item.parent.title  %}
        <dt class="item"><a href="{% sitetree_url for item %}" class="btn-main">{{ item.title_resolved }}</a></dt>
        {% if item.has_children %}
            <dd class="item-content content-small">
            <div class="megamenuClose">
            </div>
            <ul class="row-list">
                {% sitetree_children of item for menu template "sitetree/megamenu_coolbaby.html" %}
            </ul>
            </dd>
        {% endif %}
    {% else %}
        <li><a href="{% sitetree_url for item %}">{{ item.title_resolved }}</a></li>
    {% endif %}

{% endfor %}