{% load staticfiles %}

<!-- Slider -->
<section id="slider">
<!--
#################################
  - THEMEPUNCH BANNER -
#################################
-->
<div class="tp-banner-container hidden-xs">
  <div class="tp-banner">
    <ul>
      <!-- SLIDE  -->
      <li id="slide1" data-transition="zoomout" data-slotamount="7" data-masterspeed="500" data-title="First Slide" data-link="listing.html">
            <!-- MAIN IMAGE -->
            <img src="{% static 'images/dummy.png' %}" alt="slide1" data-lazyload="{% static 'images/sliders/slide1.png' %}">
            <!--&lt;!&ndash; LAYERS img 1 &ndash;&gt;-->
            <div class="tp-caption fadein fadeout rs-parallaxlevel-1" data-x="600" data-y="50" data-speed="1200" data-start="1600" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 4;">
                <img src="{% static 'images/sliders/Banners-Mirtillo-Tenis-Tranparente.png' %}" alt="">
            </div>
            <!--&lt;!&ndash; LAYERS img 2 &ndash;&gt;-->
            <!--<div class="tp-caption lfl fadeout rs-parallaxlevel-2" data-x="200" data-y="0" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 4;">-->
                <!--<img src="{% static 'images/sliders/slide1-2.png' %}" alt="">-->
            <!--</div>-->
            <!--&lt;!&ndash; LAYERS img 3 &ndash;&gt;-->
            <!--<div class="tp-caption lfr fadeout rs-parallaxlevel-3" data-x="700" data-y="0" data-speed="1200" data-start="1600" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 4;">-->
                <!--<img src="{% static 'images/sliders/slide1-3.png' %}" alt="">-->
            <!--</div>-->
            <!-- LAYER NR. 0  -->
            <!--<div class="tp-caption text0 fadeout" data-x="1050" data-y="140" data-speed="800" data-start="2500" data-easing="Power3.easeInOut" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">-->
                 <!--&#8220;-->
            <!--</div>-->
            <!-- LAYER NR. 1 -->
            <div class="tp-caption text1 fadeout" data-x="300" data-y="80" data-speed="800" data-start="3000" data-easing="Power3.easeInOut" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                Ande leve <br>pela vida!<br>
                 Novo tenis <br>Mirtillo
            </div>
            <!-- LAYERS img 3 -->
            <div class="tp-caption lfr fadeout rs-parallaxlevel-3" data-x="1080" data-y="50" data-speed="800" data-start="3500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 4;">
                <img src="{% static 'images/sliders/Banners-Mirtillo-Logo.png' %}" alt="">
            </div>
            <div style="font-size: 16px" class="tp-caption text0 fadeout" data-x="300" data-y="280" data-speed="800" data-start="3500" data-easing="Power3.easeInOut" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                > COMPRE O SEU AGORA
            </div>
            <!--<!-- LAYER NR. 2 -->
            <!--<div class="tp-caption text2 fadeout" data-x="1080" data-y="255" data-speed="500" data-start="3500" data-easing="Power3.easeInOut" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">-->
                <!--Naked people have little<br>-->
                 <!--or no influenceon society.-->
            <!--</div>-->
            <!--<!-- LAYER NR. 3 -->
            <!--<div class="tp-caption text3 fadeout" data-x="1080" data-y="305" data-speed="1000" data-start="4000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">-->
                <!--Mark Twain-->
            <!--</div>-->
      </li>
        <!-- SLIDE  -->
        <li id="slide2" data-transition="zoomout" data-slotamount="7" data-masterspeed="500" data-title="Second Slide" data-link="pagina-empresa-adoro.html">
            <!-- MAIN IMAGE -->
            <!--<img src="{% static 'images/dummy.png' %}" alt="slide2" data-lazyload="{% static 'images/sliders/slide1.png' %}">-->
            <img src="{% static 'images/dummy.png' %}" alt="slide2" data-lazyload="">
            <!-- LAYERS -->
            <!--<!-- LAYERS img 1 -->
            <div class="tp-caption fadein fadeout rs-parallaxlevel-1" data-x="150" data-y="50" data-speed="1000" data-start="500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 4;">
                <img src="{% static 'images/sliders/Banner-Adoro-Acessorio-Bolsas.png' %}" alt="">
            </div>
            <!--<!-- LAYER NR. 0  -->
            <!--<div class="tp-caption text0 fadeout" data-x="380" data-y="210" data-speed="800" data-start="1000" data-easing="Power3.easeInOut" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">-->
                 <!--&#8220;-->
            <!--</div>-->
            <!--<!-- LAYER NR. 1 -->
            <div  class="tp-caption text1 fadeout" style="font-size: 40px; color: #FC1993; text-align: center" data-x="930" data-y="60" data-speed="800" data-start="1000" data-easing="Power3.easeInOut" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                Muita Novidade para<br>
                 A Mulher que se adora
            </div>
            <!--<!-- LAYERS img 1 -->
            <div class="tp-caption fadein fadeout rs-parallaxlevel-1" data-x="1080" data-y="180" data-speed="1000" data-start="1300" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 4;">
                <img src="{% static 'images/sliders/Banner-Adoro-Acessorio-Logo.gif' %}" alt="">
            </div>
            <!--<!-- LAYER NR. 2 -->
            <div class="tp-caption text2 fadeout" style="font-size: 20px; color: #62012D; text-align: center" data-x="1090" data-y="395" data-speed="500" data-start="1800" data-easing="Power3.easeInOut" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                [CLIQUE AQUI]
            </div>
            <!--<!-- LAYER NR. 3 -->
            <!--<div class="tp-caption text3 fadeout" data-x="410" data-y="375" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">-->
                <!--Yves Saint-Laurent-->
            <!--</div>-->
      </li>
    </ul>
  </div>
</div>
</section>
<!-- //end Slider -->