{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
<!-- Breadcrumbs-->
<section class="breadcrumbs">
<div class="container">
    <a href="index.html">home</a><span class="divider">&nbsp;</span><span>RECUPERAÇÃO DE SENHA</span>
</div>
</section>
<!-- //end Breadcrumbs -->
<!--Page Content-->
<section class="content">
<div class="container">
    <div class="subtitle">
        <div>
            <span>RECUPERAÇÃO DE SENHA</span>
        </div>
    </div>
    <div class="divider divider-sm">
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="rect-nohover rect-equal-height" style="margin: 0 auto; max-width: 500px">
{#                <h2>Preencha o cadastro</h2>#}
{#                <div class="divider-xs">#}
{#                </div>#}
                <p>
                    Digite o seu e-mail para recuperar sua senha.
                </p>
                <div class="divider-sm">
                </div>

                <form method="post" action=".">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <div class="form-group">
                        {{ form.email.label_tag }}
                        {{ form.email|add_class:"form-control" }}
                        {% if form.username.errors %}
                            <span id="helpBlock2" class="help-block text-danger danger">{{ form.email.errors }}</span>
                        {% endif %}
                    </div>
                    <div class="divider-sm">
                    </div>
                    <button class="btn btn-cool btn-md-sm btn-bottom" type="submit">Enviar</button>
                </form>
            </div>
        </div>
        <div class="divider divider-lg">
        </div>
    </div>
</div>
</section>
<!-- //end Page Content -->
{% endblock %}



{#{% block content %}#}
{#<form method="post" action=".">#}
{#  {% csrf_token %} #}
{#  {{ form.as_p }}#}
{##}
{#  <input type="submit" value="{% trans 'Submit' %}" />#}
{#</form>#}
{#{% endblock %}#}
