<div style="margin-left: 10px" class="fb-page" data-href="https://www.facebook.com/RedeMulherEmpreendedora" data-width="240" data-height="290"
     data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"
     data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/RedeMulherEmpreendedora">
    <a href="https://www.facebook.com/RedeMulherEmpreendedora">Rede Mulher Empreendedora</a></blockquote></div></div>

 <!-- Facebook Api -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- //end Facebook Api -->
