<!-- Popup box -->
<div id="popup-box-outer">
  <div id="popup-box">
    <h1>Assine o RME Notícias</h1>
    <p> Informe seu e-mail que mandaremos um cupom<br>com 10% de desconto no seu primeiro pedido. </p>
    <div class="divider-sm"> </div>
    <form >
      <div class="form-group input-control">
        <input type="text" class="form-control" value="Seu E-mail..." onblur="if (this.value == '') {this.value = 'Seu E-mail...';}" onfocus="if(this.value == 'Seu E-mail...') {this.value = '';}">
        <div class="divider-sm"> </div>
        <button type="submit" class="btn-cool invert"><span class="icon flaticon-new78 "></span>Assine</button>
        <div class="divider-xl"> </div>
        <div>
          <input name="dont-show-again" type="checkbox" value="" id="dontShowAgain">
          <label for="dontShowAgain" class="inline">&nbsp;&nbsp;Não exiba essa mensagem novamente.</label>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- //end Popup box -->