{% load staticfiles %}

<!-- Subscribe -->
<section class="content container">
<div class="subscribe">
    <div class="row collapsed-block">
        <div class="col-sm-12 col-md-3 col-lg-3">
            <h3>RECEBA A RME NOTÍCIAS <a class="expander visible-sm visible-xs" href="#TabBlock-1">+</a></h3>
        </div>
        <div class="col-sm-12 col-md-9 col-lg-9 tabBlock" id="TabBlock-1">
            <form class="form-inline" >
                <div class="row">
                    <div class="col-sm-5 col-md-5">
                        <input type="text" class="form-control pull-right" value="Seu E-mail..." onblur="if (this.value == '') {this.value = 'Seu E-mail...';}" onfocus="if(this.value == 'Seu E-mail...') {this.value = '';}">
                        <div class="divider divider-sm visible-xs">
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-2">
                        <button type="submit" class="button btn-cool"><span class="icon flaticon-new78"></span>assinar </button>
                        <div class="divider divider-sm visible-xs">
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-4">
                        <p>
                            <!--Enter your email and we'll send you a coupon with 10% off your next order.-->
                            Cadastre-se e receba um cupom com 10% de desconto na sua primeira compra.
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</section>
<!-- //end Subscribe -->
<!-- Footer -->
<footer>
<div id="footer-collapsed">
    <div class="footer-navbar">
        <div class="container">
            <div class="arrow link hidden-xs hidden-sm">
                <i class="icon flaticon-down14"></i>
            </div>

            {% for grupoitemmenu in menu_footer.grupoitemmenu_set.all %}
                <div class="collapsed-block">
                    <div class="inside">
                        <h3><span class="link">{{ grupoitemmenu }}</span><a class="expander visible-sm visible-xs" href="#TabBlock-2">+</a></h3>
                        <div class="tabBlock" id="TabBlock-2">
                            <ul class="menu">
                                {% for itemmenu in grupoitemmenu.itemmenu_set.all %}
                                    {% if itemmenu.is_link %}
                                        <li><a href="{{ itemmenu.link }}">{{ itemmenu }}</a></li>
                                    {% elif itemmenu.pagina %}
                                        <li><a href="{% url "pagina" itemmenu.pagina.slug %}">{{ itemmenu.pagina }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}

{#            <div class="collapsed-block">#}
{#                <div class="inside">#}
{#                    <h3><span class="link">RME</span><a class="expander visible-sm visible-xs" href="#TabBlock-2">+</a></h3>#}
{#                    <div class="tabBlock" id="TabBlock-2">#}
{#                        <ul class="menu">#}
{#                            <li><a href="about.html">Sobre Nós</a></li>#}
{#                            <li><a href="#">Política de Entrega</a></li>#}
{#                            <li><a href="#">Termo de Privacidades</a></li>#}
{#                            <li><a href="#">Termo de uso</a></li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="collapsed-block">#}
{#                <div class="inside">#}
{#                    <h3><span class="link">Dúvidas</span><a class="expander visible-sm visible-xs" href="#TabBlock-3">+</a></h3>#}
{#                    <div class="tabBlock" id="TabBlock-3">#}
{#                        <ul class="menu">#}
{#                            <li><a href="#">Support Online</a></li>#}
{#                            <li><a href="#">Perguntas Frequentes</a></li>#}
{#                            <li><a href="#">Call Center</a></li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="collapsed-block">#}
{#                <div class="inside">#}
{#                    <h3><span class="link">Conta</span><a class="expander visible-sm visible-xs" href="#TabBlock-4">+</a></h3>#}
{#                    <div class="tabBlock" id="TabBlock-4">#}
{#                        <ul class="menu">#}
{#                            <li><a href="#">Minha Conta</a></li>#}
{#                            <li><a href="#">Pedidos</a></li>#}
{#                            <li><a href="#">Busca Avançada</a></li>#}
{#                            <li><a href="#">Comentários</a></li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
            <div class="collapsed-block">
                <div class="inside">
                    <h3><span class="link">Encontre-nos</span><a class="expander visible-sm visible-xs" href="#TabBlock-5">+</a></h3>
                    <div class="tabBlock" id="TabBlock-5">
                        <ul class="socials socials-lg">
                            <li><a href="#"><span class="icon flaticon-facebook12"></span></a></li>
                            <li><a href="#"><span class="icon flaticon-twitter20"></span></a></li>
                            <li><a href="#"><span class="icon flaticon-google10"></span></a></li>
                            <li><a href="#"><span class="icon flaticon-pinterest9"></span></a></li>
                            <li><a href="#"><span class="icon flaticon-linkedin11"></span></a></li>
                            <li><a href="#"><span class="icon flaticon-youtube18"></span></a></li>
                            <li><a href="#"><span class="icon flaticon-instagram"></span></a></li>
                            <li><a href="#"><span class="icon flaticon-skype12"></span></a></li>
                        </ul>
                        <div class="divider divider-sm visible-xs visible-sm">
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapsed-block">
                <div class="inside">
                    <h3><span class="link">Endereço</span><a class="expander visible-sm visible-xs" href="#TabBlock-6">+</a></h3>
                    <div class="tabBlock" id="TabBlock-6">
                        <ul class="menu menu-icon">
                            <li><span class="icon flaticon-home113"></span>7563 St. Vincent Place, Glasgow</li>
                            <li><span class="icon flaticon-phone163"></span>321321321, 321321321</li>
                            <li><span class="icon icon-xs flaticon-new78"></span><a href="mailto:info@mydomain.com">info@mydomain.com</a></li>
                            <li><span class="icon flaticon-skype12"></span><a href="#">shop.test</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-8 copyright">
                    © 2015 <a href="#">Shopping Mulheres Empreendedoras</a>. Todos os direitos reservados..
                </div>
                <div class="col-md-4">
                    <ul class="payment-list pull-right">
                        <li><img src="{% static 'images/icon-payment-01.png' %}" width="36" height="22" alt=""></li>
                        <li><img src="{% static 'images/icon-payment-02.png' %}" width="36" height="22" alt=""></li>
                        <li><img src="{% static 'images/icon-payment-03.png' %}" width="36" height="22" alt=""></li>
                        <li><img src="{% static 'images/icon-payment-04.png' %}" width="36" height="22" alt=""></li>
                        <li><img src="{% static 'images/icon-payment-05.png' %}" width="36" height="22" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>
<div id="outer-overlay">
</div>
<!-- //end Footer -->