{% load staticfiles %}

<!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Shopping Mulheres Empreendedoras">
<meta name="author" content="NetBrothers">
<title>Shopping Mulheres Empreendedoras</title>
{#<link rel="shortcut icon" href="favicon.ico">#}
<link rel="icon" type="image/ico" href="{% static 'images/fav.ico' %}">
<!-- Bootstrap core CSS -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<!-- CSS modules -->
<link rel="stylesheet" href="{% static 'fonts/flaticon/flaticon.css' %}">
<link rel="stylesheet" href="{% static 'css/slick.css' %}"/>
<link rel="stylesheet" href="{% static 'css/liMarquee.css' %}">
<link rel="stylesheet" href="{% static 'css/colorbox.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.nouislider.css' %}">
<!-- Custom styles for this template -->
<link href="{% static 'css/coolbaby.css' %}" rel="stylesheet">