{% load staticfiles %}

<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
<![endif]-->
<script src="{% static 'js/prototype.js' %}"></script>
<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'js/modernizr.custom.02163.js' %}"></script>
<script src="{% static 'js/jquery.finger.min.js' %}"></script>
<script src="{% static 'js/doubletaptogo.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/jquery.parallax.min.js' %}"></script>
<script src="{% static 'js/jquery.inview.min.js' %}"></script>
<script src="{% static 'js/jquery.liMarquee.min.js' %}"></script>
<script src="{% static 'js/jquery.colorbox-min.js' %}"></script>
<script src="{% static 'js/jquery.plugin.min.js' %}"></script>
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'js/coolbaby.js' %}"></script>