{% load staticfiles %}

<!-- Services -->
<section class="services-block hidden-xs">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-lg-4">
            <a href="#" class="item anim-icon"><span class="icon"><img src="{% static 'images/anim-icon-1.gif' %}" data-hover="{% static 'images/anim-icon-1-hover.gif' %}" alt=""/></span><span class="title">Frete grátis a partir de R$200,00</span></a>
        </div>
        <div class="col-xs-12 col-sm-4 col-lg-4">
            <a href="#" class="item anim-icon"><span class="icon"><img src="{% static 'images/anim-icon-2.gif' %}" data-hover="{% static 'images/anim-icon-2-hover.gif' %}" alt=""/></span><span class="title">Entrega Garantida</span></a>
        </div>
        <div class="col-xs-12 col-sm-4 col-lg-4">
            <a href="#" class="item anim-icon"><span class="icon"><img src="{% static 'images/anim-icon-3.gif' %}" data-hover="{% static 'images/anim-icon-3-hover.gif' %}" alt=""/></span><span class="title">Suporte Online </span></a>
        </div>
    </div>
</div>
</section>
<!-- //end Services -->