{% load staticfiles %}
{% load filename %}

{% if produtos_novidades %}
<!-- New Products -->
<section class="container content slider-products">
    <div class="dotted-line right-space">
    </div>
    <!-- Products list -->
    <div class="pull-left vertical_title_outer right-space">
        <div>
            <span>Novidades</span>
        </div>
    </div>
    <div class="pull-left carousel_outer">
        <div class="product-carousel">
            {% for produto in produtos_novidades|slice:":12" %}
            <div class="carousel-item">
                <div class="product-preview">
                    <div class="preview">
                        <div class="preview-image-outer">
                            <a href="{{ produto.get_absolute_url }}" class="preview-image">
                                {% with produto.produtoimagem_set.all|first as imagem %}
                                    <img class="img-responsive img-default" src="{{ MEDIA_URL }}{{ imagem.imagem.url }}" alt="{{ imagem.titulo }}">
                                {% endwith %}
                                {% if produto.produtoimagem_set.all|length > 1 %}
                                    {% with produto.produtoimagem_set.all|index:1 as imagem %}
                                        <img class="img-responsive img-second" src="{{ MEDIA_URL }}{{ imagem.imagem.url }}" alt="{{ imagem.titulo }}">
                                    {% endwith %}
                                {% else %}
                                    {% with produto.produtoimagem_set.all|first as imagem %}
                                    <img class="img-responsive img-second" src="{{ MEDIA_URL }}{{ imagem.imagem.url }}" alt="{{ imagem.titulo }}">
                                    {% endwith %}
                                {% endif %}
                            </a>
                        </div>
                        <a href="{% url 'ajax-view-product' produto.id %}" class="quick-view"><span>Dê uma espiada</span></a>
                    </div>
                    <h3 class="title"><a href="{{ produto.get_absolute_url }}">{{ produto|truncatechars:40 }}</a></h3>
{#                    <div class="product-options">#}
{#                        <i class="icon icon-color icon-color-pink"></i><i class="icon icon-color icon-color-white"></i><i class="icon icon-color icon-color-grey"></i><i class="icon icon-color icon-color-marine"></i>#}
{#                    </div>#}
                    {% if produto.preco_desconto > 0 %}
                        <span class="price old">R${{ produto.preco }}</span><span class="price new">R${{ produto.preco_desconto }}</span>
                    {% else %}
                        <span class="price new">R${{ produto.preco }}</span>
                    {% endif %}
                    <ul class="product-controls-list">
                        <li><a href="#"><span class="icon flaticon-bars34"></span></a></li>
                        <li><a href="#"><span class="icon flaticon-heart68"></span></a></li>
                        <li><a href="#drop-shopcart" class='add-to-cart open-cart'><span class="icon flaticon-shopping66"></span></a></li>
                    </ul>
                    <div class="rating">
                        <i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i><i class="icon flaticon-star129 icon-xs"></i>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- product view ajax container -->
        <div class="product-view-ajax-container">
        </div>
        <!-- //end product view ajax container -->
    </div>
    <!-- //end Products list -->
    <div class="clearfix">
    </div>
</section>
<!-- //end New Products -->
{% endif %}