{% extends 'base.html' %}
{% load staticfiles %}
{% load filename %}

{% block content %}

{% include "services.html" %}

<!-- Breadcrumbs-->
<section class="breadcrumbs">
<div class="container">
    <a href="index.html">home</a><span class="divider">&nbsp;</span><a href="#">artesanato</a><span class="divider">&nbsp;</span><a href="#">brincos</a>
</div>
</section>
<!-- //end Breadcrumbs -->
<!-- Two columns content -->
<section class="container">
<div class="row">
    <!-- Right column -->
    <section class="col-sm-8 col-md-9 col-lg-10 content-center">
    <div class="row category-banners">
        <div class="col-xs-6">
            <a href="#" title="category"><img src="{% static 'images/category-banner1.jpg' %}" alt="" class="img-responsive"></a>
        </div>
        <div class="col-xs-6">
            <a href="#" title="category"><img src="{% static 'images/category-banner2.jpg' %}" alt="" class="img-responsive"></a>
        </div>
    </div>
    <div class="divider divider-lg">
    </div>
    <h1>{{ categoria }}</h1>
    <!-- Description -->
    <p>
        {{ categoria.descricao }}
    </p>
    <!-- //end Description -->
    {% if categoria.produto %}
    {% with categoria.produto.all as produtos %}

    {% include "produtos/_lista_produtos.html" %}

    {% endwith %}

    {% else %}
        <h6>Não há resultado para essa busca</h6>
    {% endif %}

    {% if categorias_relacionadas %}
    <h3>Categorias Relacionadas</h3>

    {% for item in categorias_relacionadas %}
        {{ item.nome }}
    {% endfor %}
    {% endif %}

    </section>
    <!-- //end Right column -->

    {% include "produtos/_menu_lateral.html" %}

</div>
</section>
<!-- //end Two columns content -->


{% endblock %}